<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div th:replace="~{Shared/Header :: header}"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mt-5">
                <div class="card-header">
                    <h1 class="card-title">Event Details</h1>
                </div>
                <div class="card-body">
                    <img th:src="${event.imageUrl}" class="img-fluid" alt="Event Image">
                    <div class="mb-3">
                        <strong>Event Name:</strong> <h5 class="card-title" th:text="${event.eventName}"></h5>
                    </div>
                    <div class="mb-3">
                        <strong>Event Date:</strong> <h5 class="card-title" th:text="${event.dateEvent}"></h5>

                    </div>
                    <div class="mb-3">
                        <strong>Event Location:</strong><h5 class="card-title" th:text="${event.place}"></h5>
                    </div>
                    <div>
                        <strong>Event Description:</strong>
                        <h5 class="card-title" th:text="${event.description}"></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Iterate over the list of tickets and display their information -->


<div th:replace="~{Shared/Footer :: footer}"></div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>


